---
import Link from "@/components/icons/Link.astro"
import LinkButton from "@/components/LinkButton.astro"

import GitHub from "@/components/icons/GitHub.astro"
import Tailwind from "@/components/icons/Tailwind.astro"
import TypeScript from "@/components/icons/TypeScript.astro"
import React from "@/components/icons/React.astro"
import FastApi from "@/components/icons/FastApi.astro"
import Vercel from "@/components/icons/Vercel.astro"

const TAGS = {
    TYPESCRIPT: {
        name: "TypeScript",
        class: "bg-[#1c385e] text-white",
        icon: TypeScript,
    },
    REACT: {
        name: "React",
        class: "bg-[#20232a] text-white",
        icon: React,
    },
    TAILWIND: {
        name: "Tailwind",
        class: "bg-[#003159] text-white",
        icon: Tailwind,
    },
    FASTAPI: {
        name: "FastAPI",
        class: "bg-[#003332] text-white",
        icon: FastApi,
    },
    VERCEL: {
        name: "Vercel",
        class: "bg-[#000] text-white",
        icon: Vercel,
    },
}

const PROJECTS = [
    {
        title: "loadingVI",
        description:
        "Contador en tiempo real de la fecha de lanzamiento de Grand Theft Auto VI.",
        link: "https://loadingvi.com",
        github: "https://github.com/mariollesta/loadingVI",
        image: "/projects/loadingvi.webp",
        tags: [TAGS.TYPESCRIPT, TAGS.REACT, TAGS.TAILWIND, TAGS.VERCEL],
    },
    {
        title: "locatall",
        description:
        "Aplicación web diseñada para ayudarte a encontrar lugares cercanos mejor valorados en Google en función de tu ubicación y preferencias.",
        link: "https://locatall.vercel.app/",
        github: "https://github.com/mariollesta/locatall",
        image: "/projects/locatall.webp",
        tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.FASTAPI, TAGS.VERCEL],
    },
]
---

<div class="flex flex-col gap-y-16">
    {
        PROJECTS.map(({ image, title, description, tags, link, github }) => (
            <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
                <div class="w-full md:w-1/2">
                    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-[var(--color-border)] lg:hover:border-[var(--color-border-hover)] lg:hover:bg-[var(--color-bg-hover)]">
                        <img
                            alt=""
                            class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
                            loading="lazy"
                            src={image}
                        />
                    </div>
                </div>

                <div class="w-full md:w-1/2 md:max-w-lg">
                    <h3 class="text-2xl font-bold text-[var(--color-text)]">
                        {title}
                    </h3>
                    <div class="flex flex-wrap mt-2">
                        <ul class="flex flex-row mb-2 gap-x-2">
                        {tags.map((tag) => (
                            <li>
                                <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                                    <tag.icon class="size-4" />
                                    {tag.name}
                                </span>
                            </li>
                        ))}
                        </ul>

                        <div class="mt-2 text-[var(--color-subtle)]">
                        {description}
                        </div>

                        <footer class="flex items-end justify-start mt-4 gap-x-4">
                            {github && (
                                <LinkButton href={github}>
                                    <GitHub class="size-6" />
                                    Code
                                </LinkButton>
                            )}
                            {link && (
                                <LinkButton href={link}>
                                    <Link class="size-4" />
                                    Preview
                                </LinkButton>
                            )}
                        </footer>
                    </div>
                </div>
            </article>
        ))
    }
</div>
